
// SETTINGS MANAGMENT
// ============================================

@font-face {font-family: 'aktiv-grotesk'; src:url('../assets/AktivGrotesk.ttf')}
@font-face {font-family: 'alternate-gothic'; src:url('../assets/Alternate-Gothic-No2.ttf')}

$primary-background: #fff;

$primary-color: #666;
$strong-color: #111; /* titles */

$border-color: #dadada;
$accent-color: #3f51b5;


// DEFAULT STYLES
// ============================================

html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: $primary-color;
  font: 100%/1.5 "aktiv-grotesk", sans-serif;
}

a {
  color: inherit;

  &:hover {
    color: $accent-color;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a.disabled:hover {
   cursor:not-allowed
}

h2, h3, h4 {
  color: $strong-color;
  text-transform: uppercase;
  font-family: "alternate-gothic", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 3.25em;
  line-height: 1em;
  padding: 0.285em 0 0.175em;
  margin-bottom: 0.75em;
  -webkit-margin-after: 0;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 2.5em;
  list-style: none;
  margin-bottom: 0;
}

h4 {
  font-size: 1.75em;
  line-height: 1.125;
  margin-bottom: 0.25em;
}

p {
  font-size: 1.35em;
  line-height: 1.7em;
}

// EFFECTS
// ============================================

@-webkit-keyframes backgroundColour {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes backgroundColour {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes backgroundColour {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}


// ELEMENTS
// ============================================

.fixed {
  position: fixed;
  z-index: -100;
  top: 0;
	background: linear-gradient(45deg, #f44336, #e91e63, #9c27b0, #673ab7, #3f51b5, #009688, #8bc34a, #ff9800, #ff5722, #009688) no-repeat;
  background-size: 500% 500%;
  -webkit-animation: backgroundColour 20s ease infinite;
  animation: backgroundColour 20s ease infinite;
  height: 100vh;
  width: 100vw;
}

.background-container {
  background: $primary-background;
  margin: 0 auto;
  width: 90vw;
  height: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  border: 20px solid #000;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.content {
  overflow: hidden;
  text-align: left;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 5em;
  margin-top: 5em;

  &:first-child {
    padding-bottom: 2em;
    border-bottom: 2px solid $border-color;
  }

  h2 {
    padding: 0.3em 0 0.3em 0;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    margin-top: 0.45em;
  }
}

.container-row {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blocky {
  flex: 1 auto;
  width: 250px; height: 250px;
  border: 1px solid $border-color;
  text-decoration: none;
  padding: 3rem;

  &:last-child {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h4 {
      margin-top: 0em;

    }
  }

  img {
    text-align: center;
    opacity: 0.3;
    max-width: 9em;
    margin-top: 2.5em;
  }

  h4 {
    margin-top: 0.5em;
  }

  &:hover {
    background: $accent-color;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;

    & > h4,em {
      color: #fff;
    }
    & > img {
      opacity: 0.7;
    }

  }
}

.side-projects {

  .content {
    margin-top: 0.75em;
  }

  h3 {
    margin-top: 0.5em;
  }

  h2 {
    padding: 0.75em 0 0.75em 0;
    border-bottom: 2px solid $border-color;
    border-top: 2px solid $border-color;
  }

  li {
    padding-bottom: 2em;
    border-bottom: 2px solid $border-color;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;

    &:hover {
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;
      padding-left: 0.5em;
    }
  }
}

footer {
  border-top: 2px solid $border-color;
  padding-top: 5em;
  padding-bottom: 5em;
}


// MEDIA QUERIES
// ============================================

/* large desktops */
@media only screen and (min-width: 1300px) {
  .blocky {

    &:last-child {
      height: 50%;
    }
  }
}

/* mobile */
@media only screen and (max-width: 800px) {
  .blocky {
    padding: 1em;
    width: 100%;

    &:last-child {
      height: 50%;

      em {
        display: none;
      }
    }

    h4 {
      margin-top: 0.1em;
    }
  }

  .fixed {
    display: none;
  }

  .background-container {
    border: none;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

/* more styling goes here */
}
