@font-face {font-family: 'aktiv-grotesk'; src:url('../assets/AktivGrotesk.ttf')}
@font-face {font-family: 'alternate-gothic'; src:url('../assets/Alternate-Gothic-No2.ttf')}


$primary-background: #13111C;
$primary-color: #727080;


html,
body {
  margin: 0;
  padding: 0;
  background: $primary-background;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: center;
  color: $primary-color;
  font: normal 100%/1.5 "aktiv-grotesk", sans-serif;
  font-style: normal
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1420px;
}

h2, h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "alternate-gothic", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 3.25em;
/* add or not?
  border-top: 2px solid #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
*/
  padding: 0.285em 0 0.175em;
  margin-bottom: 0.75em;
  margin-top: 1em;
}

h4 {
  font-size: 1.75em;
  line-height: 1.125;
  margin-bottom: 0.25em;
}

p {
  font-size: 1.35em;
  line-height: 1.7em;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 7em;
  margin-top: 5em;
}

.container-row {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blocky {
  width: 450px; height: 250px;
  border-right: 2px solid #A1A0A4;
  border-bottom: 2px solid #A1A0A4;
  padding: 3rem;

  &:nth-child(even) {
    border-right: none;
  }

  img {
    overflow: visible;
    margin: 0 auto;
    opacity: 0.6;
    max-width: 9em;
    margin-top: 2em;

  }

  &:hover {
    background: #93489B;
    -webkit-transition: 300ms linear;
    transition: 300ms linear;

    & > h4,em,img {
      color: #fff;
      opacity: 100;
    }
  }
}
