@font-face {font-family: 'aktiv-grotesk'; src:url('../assets/AktivGrotesk.ttf')}
@font-face {font-family: 'alternate-gothic'; src:url('../assets/Alternate-Gothic-No2.ttf')}


$primary-background: #13111C;
$primary-color: #727080;


html,
body {
  margin: 0;
  padding: 0;
  background: $primary-background;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: center;
  color: $primary-color;
  font: normal 100%/1.5 "aktiv-grotesk", sans-serif;
  font-style: normal
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1420px;
}

h2, h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "alternate-gothic", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 3.25em;
/*
  border-top: 2px solid #33313e;
  */
  border-bottom: 1px solid #19191c;
  padding: 0.285em 0 0.175em;
  margin-bottom: 0.75em;
  -webkit-margin-after: 0;
  margin-top: 1em;
}

h4 {
  font-size: 1.75em;
  line-height: 1.125;
  margin-bottom: 0.25em;
}

p {
  font-size: 1.35em;
  line-height: 1.7em;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 7em;
  margin-top: 5em;
}

.container-row {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blocky {
  width: 250px; height: 250px;
  border: 1px solid #33313e;
  padding: 3rem;
  flex: 1 auto;

  &:last-child {
    height: 50%;
  }

  img {
    text-align: center;
    opacity: 0.6;
    max-width: 9em;
    margin-top: 2.5em;
  }

  h4 {
    margin-top: 0.5em;
  }

  &:hover {
    background: #93489B;
    -webkit-transition: 400ms ease;
    transition: 400ms ease;

    & > h4,em {
      color: #fff;
    }
    & > img {
      opacity: 0.8;
    }

  }
}

/*
@media all and (max-width: 900px) {
  .blocky {
    border-right: none;
  }
}*/
