@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../assets/HelveticaNeue.ttf"); }

@font-face {
  font-family: 'Helvetica-Medium';
  src: url("../assets/HelveticaNeue-Medium.ttf"); }

/* variables */
/************/
html {
  -webkit-font-smoothing: antialiased; }

body {
  background: #ff2f35;
  font-family: "Helvetica-Neue", sans-serif;
  color: #fff;
  background-image: url("../assets/background.png");
  background-size: cover;
  display: block;
  height: 100%; }

::selection {
  color: white;
  background: #00a5ff; }

.content {
  width: 100%;
  display: flex;
  align-items: center; }

.container {
  width: 100%;
  max-width: 630px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15%; }

h1 {
  font-family: "Helvetica-Medium", sans-serif;
  font-weight: normal;
  font-size: 1.2rem; }

p {
  font-size: 1rem;
  line-height: 1.75; }

a {
  color: inherit; }

.overlay {
  background: url("../assets/overlay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 10rem;
  margin-top: 15%;
  margin-bottom: 10%; }
