@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../assets/HelveticaNeue.ttf"); }

@font-face {
  font-family: 'Helvetica-Medium';
  src: url("../assets/HelveticaNeue-Medium.ttf"); }

/* general */
html {
  -webkit-font-smoothing: antialiased; }

body {
  display: block;
  height: 100%;
  margin: 0;
  top: 0;
  background: #13111C;
  font-family: "Helvetica-Neue", sans-serif;
  color: #fff; }

/* base layout */
.content {
  display: flex;
  width: 100%; }

.container {
  width: 100%;
  max-width: 340px;
  margin: 100px 10%; }

#icon {
  margin-bottom: 35px;
  margin-top: 35px; }

/* styling elements */
::selection {
  color: #fff;
  background: #E70F6E; }

h1 {
  font-family: "Helvetica-Medium", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.5; }

p {
  color: #727080;
  font-size: 1rem;
  line-height: 1.75; }

a {
  color: inherit;
  transition: 0.25s; }
  a:hover {
    color: #FFD808; }

/* responsive, man */
@media only screen and (max-width: 768px) {
  .container {
    margin: 100px 10%; } }
