@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../assets/HelveticaNeue.ttf"); }

@font-face {
  font-family: 'Helvetica-Medium';
  src: url("../assets/HelveticaNeue-Medium.ttf"); }

/* variables */
/************/
html {
  -webkit-font-smoothing: antialiased; }

body {
  padding: 0 2em;
  height: 100%;
  background: #fafafa;
  color: #393939;
  font-family: 'Helvetica-Neue', sans-serif;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.75; }

h1 {
  font-family: 'Helvetica-Medium', sans-serif;
  font-weight: normal;
  font-size: .95em; }

a {
  color: inherit;
  text-decoration: underline; }

.container, footer, header {
  margin: 0 auto;
  max-width: 33em;
  margin-bottom: 2.5em; }

header {
  margin-top: 5.5em;
  margin-bottom: 2.5em; }

footer a, header a {
  font-size: 0.75em;
  text-decoration: none; }
